{% extends 'base.html' %}

{% block title %}
    <title>Event Details</title>
{% endblock %}

{% block body %}
    <!doctype html>
    <html>

      <head>
        <title>Event Details</title>
      </head>
    <body>
            <div>
            <b>{{ event.title }}</b><br>
            Host: {{ event.host.name }}<br>
            Location: {{ event.location }}<br>
            Notes: {{ event.note }}<br>
            </div>
            <br>
            <div>
            <b>RSVP Form:</b><br>
                <form action="/rsvp" method="POST" id="rsvp_form">
                Name: <input type="text" name="name" required><br>
                Notes: <br> <textarea rows="4" cols="50" name="notes" placeholder="Include ages of kids attending and any other important information here."></textarea><br>

                <button type="submit" form="my_events" value="Submit">Submit</button>
                </form>
            </div>
            <br>
            <div>
            <b>Attendees:</b><br>
            {% for participant in event.participants %}
                Name: {{ participant.user.name }}<br>
                Note: {{ participant.note }}<br>
                <br>
            {% endfor %}       


            </div>

        
      </body>
    </html> 

{% endblock %}