{% extends 'base.html' %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block body %}
    <!doctype html>
    <html>
      <head>
        <title></title>
      </head>
      <body>

      {{ user_id }}
            
            <a href="/my_events">My Events</a>
            <br>
            <br>
            <a href="/create_event"">Plan a Play Date</a>
            <br>
            <br>
            <a href="events">Search for Play Dates</a><br>


          
      
        
      </body>
    </html> 

{% endblock %}